.sidebar {
  height: 100%;
  background-color: #1d1911;
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}
.icons {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b09760;
  font-size: 0.9rem;
}
.active {
  border-left: 1px solid #dec7a1;
}
.unique_bar {
  display: flex;
  width: 150px;
  color: white;
  align-items: center;
  cursor: pointer;
  &:hover {
    border-left: 1px solid #dec7a1;
  }
}
.current_tab_name {
  width: 70%;
  font-size: 1rem;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
